extends layout

block content
	div
		.ui.icon.input
			input(id='cp', type="text", placeholder="Tu codigo postal", name="asd")
			i.search.icon
		button.ui.button(id='buscar')
			| Enviar

			
		ul(id='receiver')

		